body {
  max-height: 2000px;
  padding-top: 50px;
  overflow-x: hidden;
}

form
{
  width: 700px;
  margin: 0px auto;
  border-style: none;
}

.form-group
{
  margin-bottom: 25px;
}

.btn-default
{
  width: 700px;
  margin-top: 15px;
  height: 50px;
}

.bg-info
{
  margin: 55px auto;
  width: 700px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  background-color: #3C6A9D;
  color: white;
}

.navbar-fixed-top
{
    height: 120px;
}


#logo_meni
{
  height: 80px;
  width: 80px;
  margin-top: 20px;
}


#meni
{
  margin-top: 40px;
}

#meni1
{
  margin-left: 40px;
}

#meni1 li
{
  font-size: 18px;
}

#meni1 li:hover:not(.active)
{
    background-color: #899BB5;
}

#meni2 li
{
  font-size: 16px;
}

#meni2 li:hover:not(.active)
{
   background-color: ##899BB5;
   color: white;
}


#pocetna
{
  margin: 0px auto;
}

.aboutCircle {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 50%;
    height: 50%;
    opacity: 0.9;
}

.aboutCircle:hover {
    border-color: #f1f1f1;
}


.pocetna_pitanje
{
  margin-left: 30%;
}

.onama
{
	margin: 55px auto;
  width: 90%;
}

.patrola
{
  margin: 55px auto;
  width: 80%;
}

.patrolaBtn
{
  margin: 55px auto;
  width: 40%;
}

.btnCustom, .btnHoverBlue {
  color: gray;
  background-color: #F8F8F8;
  border: none;
  border-radius: 0;
}

.btnHoverBlue:hover {
  color:white;
  background-color: #3C6A9D;
  border: none;
  border-radius: 0;
}


