<body>

    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="/assets/images/bedz.png" alt="Hand" id="logo_meni" class="img-rounded">
        </div>
        <div id="navbar" class="navbar-collapse collapse" id="meni">
          <ul class="nav navbar-nav" id="meni1">
            <li>{{#link-to 'početna'}}Početna{{/link-to}}</li>
            <li>{{#link-to 'pregledpatrola'}}Pregled patrola{{/link-to}}</li>
            <li>{{#link-to 'pomoć'}}Pomoć{{/link-to}}</li>
            <li>{{#link-to 'onama'}}O nama{{/link-to}}</li>
            <li>{{#link-to 'kontakt'}}Kontakt{{/link-to}}</li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="meni2">
            {{#if session.isAuthenticated}}
              <li><button type="button" class="disabled btn-lg btnCustom">Dobrodošao/la  @{{ session.data.authenticated.korisnik.username }}</button></li>
              <li><button type="button" class="disabled btn-lg btnHoverBlue" {{action 'logout' on='click'}}>Log Out</button></li>
            {{else}}
              <li>{{#link-to 'prijava'}}Prijavi se{{/link-to}}</li>
              <li>{{#link-to 'registracija'}}Registruj se {{/link-to}}</li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>


      {{outlet}}

