<p class="bg-info">KONTAKTIRAJTE NAS</p>

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="InputName" placeholder="Ime i prezime">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="InputEmail" placeholder="Email adresa">
  </div>
  <div class="form-group">
    <textarea class="form-control vresize" rows="5" id="InputTextArea" placeholder="Vaša poruka..."></textarea>
  </div>
  <button type="submit" class="btn btn-default">Pošalji</button>
</form>
{{outlet}}
