<div class="onama text-center">

  <h3>MOJA PATROLA</h3>
  <p><em>Želiš znati gdje se nalaze policijske patrole?</em></p>
  <p>MOJA PATROLA nudi neizmjernu pomoć učesnicima u saoboraćaju u svakodnevnom kretanju saobraćajnicama.</p>
  <p>Prijavite položaj policijskih kontrola i uspješno izbjegavajte neugodne situacije kroz solidarnost i suradnju sa drugim učesnicima saobraćaja.</p>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <img src="/assets/images/350307.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
    <div class="col-sm-3">
      <img src="/assets/images/350338.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
	<div class="col-sm-3">
      <img src="/assets/images/299322.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
    <div class="col-sm-3">
      <img src="/assets/images/350344.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
  </div>
</div>
{{outlet}}


